C:/Users/AHema/OneDrive - CGIAR/Desktop/2024/WFP/G5 - Sahel countries/data mining/arules r package/Practice arules package/.Rproj.user/shared/notebooks/3E7FDF63-arules WFP Mali dataset/1/s/cgimdj9atte6j_t